<?xml version="1.0" encoding="UTF-8"?>
<events>
<Event>
<code>
1
</code>
<title>
Theorie C++
</title>
<timing>
<Timing>
<day>
Lundi
</day>
<start>
<Time>
<hour>
8
</hour>
<minute>
30
</minute>
</Time>
</start>
<duration>
<Time>
<hour>
2
</hour>
<minute>
0
</minute>
</Time>
</duration>
</Timing>
</timing>
</Event>
<Event>
<code>
4
</code>
<title>
Labo C/Linux
</title>
<timing>
<Timing>
<day>
Mardi
</day>
<start>
<Time>
<hour>
10
</hour>
<minute>
30
</minute>
</Time>
</start>
<duration>
<Time>
<hour>
1
</hour>
<minute>
30
</minute>
</Time>
</duration>
</Timing>
</timing>
</Event>
<Event>
<code>
9
</code>
<title>
Theorie Java
</title>
</Event>
<Event>
<code>
17
</code>
<title>
Labo C++
</title>
<timing>
<Timing>
<day>
Jeudi
</day>
<start>
<Time>
<hour>
13
</hour>
<minute>
30
</minute>
</Time>
</start>
<duration>
<Time>
<hour>
2
</hour>
<minute>
0
</minute>
</Time>
</duration>
</Timing>
</timing>
</Event>
<Event>
<code>
3
</code>
<title>
Seminaire EVS
</title>
<timing>
<Timing>
<day>
Vendredi
</day>
<start>
<Time>
<hour>
8
</hour>
<minute>
30
</minute>
</Time>
</start>
<duration>
<Time>
<hour>
4
</hour>
<minute>
0
</minute>
</Time>
</duration>
</Timing>
</timing>
</Event>
</events>

